<style type="text/css">

html, body {
	height:100%;
	margin:0;
	overflow:hidden;
	width:100%;
}

.header {
	font-size:13px;
	text-align:right;
	color:#CCCCCC;


	padding:5px 5px 0;
	padding-right:8px;
	padding-top:0px !important;
	padding-bottom: 0px;
	border-bottom: 1px solid black;
}
</style>